body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #C4B5AA;
    color: #fff;
}

.logo img {
    height: 40px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    color: #eeeeee;
}

.shopping-cart img {
    height: 30px;
}

/* End navbar */

.details-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(70% - 20px);
}

.details-card {
    width: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.details-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.details-image img {
    max-width: 70%;
    height: auto;
    margin-left: 12%;
    
}

.details-info {
    margin-top: 15px;
}

.smallimage {
    width: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-top: 9px;
}

.smallimage:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thumbnail-image {
    height: 60px;
    width: auto;
    object-fit: cover;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
}

.thumbnail-image:hover {
    border: 1px solid #000;
}

.right-container {
    width: calc(30% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#size-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
}

.size-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.size-button {
    padding: 13px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.size-button:hover {
    background-color: #f0f0f0;
}
.size-button.selected {
    background-color: #f0f0f0;
    font-weight: bold;
}

.button-shop {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #C4B5AA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 350%;
    height: 50px;
}
.button-shop:hover {
    background-color: #948f8a;
}
.button-details {
position: absolute;
right: 20.5%;
bottom: 20%;
}